* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}
main {
    background-image: url(./src/img/fundo.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    width: 36%;
    height: 400px;
    background-color: rgb(43, 43, 43);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.8;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
    color: white;
}
.coracao {
    color: rgb(196, 8, 8);
}
