*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-size: 34px;
    font-weight: bold; 
}
h3 a{
    background-color:#1C2526;
    color:#F2845C;
    border-radius: 3px;
    padding: 2px;
}
h3{
    margin-top: 6px;
}
.amor a{
    background-image: url(./src/img/fundo_coraçoes.jpg) ;
    background-size: cover;
    background-position: center;
    color: white;
}
a{
    text-decoration: none;
}
header{
    grid-column-start: 1;
    grid-column-end: 6;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./src/img/imagem-noite.jpg);
    background-size: cover;
    color: #F2E6DF;
    text-align: center;
    
}
header span{
    color: #F2845C;
}
header a{
    text-decoration: none;
    color: #F2E6DF;
}
main{
    background-color: #F2E6DF;
    grid-column-start: 2;
    grid-column-end: 6;
    height: 100vh;
}
aside{
    background-color: rgb(0, 0, 0);
    background-image: url(./src/img/imagem-noite.jpg);
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    
}
aside a{
    text-decoration: none;
    color:#F2845C;
    text-shadow:#F2E6DF -0.3px -0.3px; 
    font-weight: bold;
}
aside li{
    list-style-type: none;
    margin: 20px 0;
}
aside ul{
    margin-top: 10px;
}
footer{
    background-color: #1C2526;
    grid-column-start: 1;
    grid-column-end: 6;
    background-image: url(./src/img/imagem-noite.jpg);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2E6DF;
}
.pag{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
}
.descricao{
    margin: 18px;
    height: 40vw;
}

.descricao h2{
    background-color: #F2845C;
    color: #1C2526;
    padding: 6px ;
    border-radius: 3px;
    width: 133px;
    margin-bottom: 3px;
}
.botao-download {
    background-color: #1C2526;
    border: none;
    color: #F2845C;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
@media (max-width: 660px) {
    aside{
        grid-column-start: 1;
        grid-column-end: 6;
        
        
    }
    main{
        grid-column-start: 1;
        grid-column-end: 6;
        
    }
    aside ul{
        display: flex;
        margin: 0;;
        align-items: center;
    }
    aside li{
        margin: 2px 4px;
        padding: 4px;
    }
    .descricao{
        
        height: 80vw;
    }
}