* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}
::selection {
  background-color: #9ec1a3;
  color: #1f363d;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #1c2526;
}

/*HEADER:*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4%;
  box-shadow: 0px 0.3px 0px 0px #ffffff;
  text-align: center;
  background-color: #1c2526;
  z-index: 10;
}
li {
  list-style-type: none;
}
.lista-tecnologias {
  list-style-type: circle;
  margin-left: 30px;
  font-weight: 500;
}
header a {
  text-decoration: none;
  color: #9ec1a3;
  letter-spacing: 2px;
}
header a h1 {
  color: #9ec1a3;
}
header a:hover {
  text-shadow: 0px 0px 8px #9ec1a3;
}

main {
  height: 100%;
  align-self: center;
  padding: 2%;
  margin: 8% 4% 0 4%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 92%;
  color: #cfe0c3;
}
.subtitulo {
  color: #cfe0c3;
  margin: 10px auto;
  font-weight: bold;
  letter-spacing: 1px;
}
footer {
  height: 70px;
  background-color: #1c2526;
  display: flex;
  align-items: center;
  padding: 0 5%;
  margin-top: 80px;
  justify-content: space-around;
  color: #9ec1a3;
  box-shadow: 0px -0.3px 0px #ffffff;
  z-index: 10;
}
.links-footer {
  display: flex;
}
.links-footer a {
  text-decoration: none;
  color: #9ec1a3;
  margin: 0 15px;
}
.links-footer a:hover {
  color: #70a9a1;
}
@keyframes anima-fundo {
  0% {
    transform: translateY(100vh) scale(0);
  }
  50% {
    transform: translateY(50vh) scale(0.8);
  }
  100% {
    transform: translateY(-10vh) scale(0);
  }
}

::-webkit-scrollbar-track {
  background-color: #9ec1a3;
}
::-webkit-scrollbar {
  width: 8px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  background: #1c2526;
  border: 1px solid #9ec1a3;
  border-radius: 4px;
}
@media (max-width: 768px) {
  main {
    padding-top: 80px;
  }
  header {
    padding: 36px;
  }
  h1 {
    font-size: 1.4em;
  }
}
