* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 34px;
    font-weight: bold;
}
h3 a {
    background-color: #1c2526;
    color: #f2845c;
    border-radius: 3px;
    padding: 2px;
    margin-top: 6px;
}

header {
    grid-column-start: 1;
    grid-column-end: 6;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./src/img/imagem-noite.jpg);
    background-size: cover;
    color: #f2e6df;
    text-align: center;
}
header span {
    color: #f2845c;
}
header a {
    text-decoration: none;
    color: #f2e6df;
}
main {
    background-color: transparent;
    color: #f2e6df;
    position: relative;
    overflow: hidden;
    grid-column-start: 2;
    grid-column-end: 6;
}
.items {
    position: absolute;
    display: flex;
    background-color: #1c2526;
    height: 100vh;
    z-index: -1;
}
.items-div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #f2845c;
    box-shadow: 0px 0px 50px 8px #f2845c;
    animation: anima-fundo calc(270s / var(--a)) ease-in-out infinite;
}
.items-div:nth-of-type(even) {
    background-color: #4d6669;
    box-shadow: 0px 0px 50px 8px #4d6669;
}
@keyframes anima-fundo {
    0% {
        transform: translateY(100vh) scale(0);
    }
    50% {
        transform: translateY(50vh) scale(0.8);
    }
    100% {
        transform: translateY(-10vh) scale(0);
    }
}
aside {
    background-color: rgb(0, 0, 0);
    background-image: url(./src/img/imagem-noite.jpg);
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
}
aside a {
    text-decoration: none;
    color: #f2845c;
    text-shadow: #f2e6df -0.3px -0.3px;
    font-weight: bold;
}
aside li {
    list-style-type: none;
    margin: 20px 0;
}
aside ul {
    margin-top: 10px;
}
footer {
    background-color: #1c2526;
    grid-column-start: 1;
    grid-column-end: 6;
    background-image: url(./src/img/imagem-noite.jpg);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2e6df;
}
.pag {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.descricao {
    margin: 18px;
    height: 40vw;
}

.descricao h2 {
    background-color: #f2845c;
    color: #1c2526;
    padding: 6px;
    border-radius: 3px;
    width: 203px;
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}
.botao-download {
    background-color: #1c2526;
    border: none;
    color: #f2845c;
    border: 1px solid #f2845c;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.botao-download:hover {
    color: #d96439;
    box-shadow: 0px 0px 6px 1px #d96439;
}
::-webkit-scrollbar-track {
    background-color: #4d6669;
}
::-webkit-scrollbar {
    width: 10px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    background: #f2845c;
    border-radius: 4px;
}
@media (max-width: 660px) {
    aside {
        grid-column-start: 1;
        grid-column-end: 6;
    }
    main {
        grid-column-start: 1;
        grid-column-end: 6;
    }
    aside ul {
        display: flex;
        margin: 0;
        align-items: center;
    }
    aside li {
        margin: 2px 4px;
        padding: 4px;
    }
    .descricao {
        height: 80vw;
    }
}
