*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
}

::selection {
    background-color: #9ec1a3; 
    color: #1f363d; 
}
::-webkit-scrollbar-track {
    background-color: #9ec1a3;
}
::-webkit-scrollbar {
    width: 8px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    background: #1c2526;
    border: 1px solid #9ec1a3;
    border-radius: 4px;
}
body{
    background-color: #e9ecef;
}
header{
    background-color: #212529;
   padding: 0 5%;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 2px;
}
.link-nav{
    color: #9ec1a3;
    text-decoration: none;
    margin: 0 20px;
}
.link-nav:hover{
    color: #70a9a1;
}
h1 a{
    display: block;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 0.6em;
    color:#9ec1a3;
}
h1 a:hover{
    color: #70a9a1;
}

.section-inicial{
    padding: 2% 5%;
}
.section-inicial h2{
    margin: 4px 0;
}
/* Carousel */
.gallery {
	padding: 0.5% 5%;
	display: grid;
	grid-template-columns: repeat(10, 55vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
	height: 94vh;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}

.active {
	scroll-snap-type: unset;
}

li {
	scroll-snap-align: center;
	display: inline-block;
}
li img{
    border-radius: 8px;
    width: 97%;
}
/* ---- fim Carousel ---- */
/* Section download */
.section-download{
    padding: 10px 5%;
}
.section-download h2 {
    margin: 8px 0;
}
.btn-download{
    width: 100%;
    padding: 10px;
    margin: 4px 0;
    border-radius: 6px;
    border: 0px;
    background-color: #212529;
    color: #9ec1a3;
}
.btn-download:hover{
    scale: 1.001;
    background-color: #313334;
    cursor: pointer;
}
/* Footer */
footer{
    height: 70px;
    background-color: #212529;
    display: flex;
    align-items: center;
    padding: 0 5%;
    justify-content: space-around;
    color: #9ec1a3;
}
.links-footer{
    display: flex;
    
}
.links-footer a{
    text-decoration: none;
    color: #9ec1a3;
    margin: 0 15px;
}
.links-footer a:hover{
    color: #70a9a1;
}